<!DOCTYPE html>
<html>

<head>
    <title>シフト表</title>
</head>

<body>
    <a href="../../requests">requests</a>
    <h1>シフト表</h1>
    <table>
        <thead>
            <tr>
                <th>日付</th>
                <th>時間</th>
            </tr>
        </thead>
        <tbody>
            {{range $date, $times := .}}
            <tr>
                <td>{{$date}}</td>
                <td>
                    {{range $times}}
                    {{.}}時<br>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>