<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>シフト提出フォーム</title>
</head>

<body>
    <h2>シフト提出フォーム</h2>
    <form action=" /requests/{request_id}/submissions" method="post">
        {{range $date := .Dates}}
        <table>
            <caption>{{$date}}のシフト</caption>
            <tr>
                <th>時間</th>
                <th>入る</th>
            </tr>
            {{range $.Hours}}
            <tr>
                <td>{{.}}</td>
                <td>
                    <input type="checkbox" name="{{$date}}" , value="{{.}}">
                </td>
            </tr>
            {{end}}
        </table>
        {{end}}
        <button type="submit">シフトを提出</button>
    </form>
</body>

</html>